---
import Layout from '../layouts/Layout.astro';

---

<Layout title="eligibility">
   

<!-- Eligibility  -->
<div class="registration-container text-[#4d0081] border-b-4 border-sky-100 background-url mt-10" id ="eligibility">
    <h1 class="text-4xl font-bold item-center text-center section-title">Eligibility</h1>
   
    <div class="regBtnContainer">
        <p class="text-lg text-justify mx-3 px-3">Students pursuing B.E./B.Tech/M.Tech who seek to apply their programming skills in the development of scientifc software. While having a background in Computer Scienc and Engineering/Information Technology or related fields with programming skills is preferable, we also consider students from other areas (ME, AE, EE, ECE etc.)</p>
    </div>
</div>
</Layout>